@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --blue: hwb(207 44% 4% / 0.966);
  --blue-accent: #546de5;
  --pink: #eee538f5;
  --dark-grey: #596275;
  --black: #bec1c4; /* El valor de una custom property incluye el espacio en blanco */
  --white :#546de5;
  --lightGrey: #f3fabc;
  --radius: 10px;
  --background-color: var(--blue-accent);
}

body{
  --black: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--white);
}

img{
  max-width: 100%;
}


button {
  background-color: #b35ead;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #fbfd6ef8;
}

header.main{
  background-color: var(--blue);
  color: var(--white);
  padding:1em;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  text-align: center;
}

header.main .toggle{
  justify-self: flex-end;
}

header.main h1{
  margin:0;
}

* {
  box-sizing: border-box;
}

.column {
  width: 500px; /* ancho de la columna */
  height: fit-content;
  padding: 200px; /* espacio entre el contenido y el borde */
  border: 1px solid #ddd; /* borde opcional */
  box-sizing: border-box; /* para que el padding se incluya en el ancho */
}

.servitech-column {
  width: 800; /* Aumenta el ancho a 70% */
  height: 4000px; /* Aumenta la altura a 400px */
  text-align: justify;
  text-align: center;
}
.title{
  font-size: 3rem;
}

.subtitle{
  font-size: 2rem;
}

.main-container{
  width: 52rem;
  max-width: 100%;
  margin: 0 auto;
}

.padding-y-100{
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.padding{
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;

  padding-block-start: 1rem;
  padding-block-end: 1rem;
}

.project{
  display: grid;
  grid-template-columns: 300px minmax(0,1fr);
  column-gap: 1em;
}

.project img{
  align-self: center;
}

.card{
  background-color: var(--card-bg);
  border-radius: var(--radius);
  box-shadow:  10px 10px 60px var(--card-bg),
             -10px -10px 60px var(--card-bg);
}

#dark-toggle{
  display: none;
}

#dark-toggle + label{
  cursor: pointer;
  --toggleHeight: 1.5rem;
  display: inline-block;
  width: calc(var(--toggleHeight )* 2);
  height:var(--toggleHeight);
  border-radius: var(--radius);
  background-color: var(--blue-accent);
  position: relative;
  margin-right: 0.4rem;
}

#dark-toggle + label::after{
  --size:  calc(var(--toggleHeight) * 1.33);
  position: absolute;
  content: "";
  width:var(--size);
  height:var(--size);
  border-radius: 50%;
  background-color: var(--pink);
  left: calc((var(--size) - var(--toggleHeight)) / 2 * -1);
  top: calc((var(--size) - var(--toggleHeight)) / 2 * -1);
  transition: all 0.2s ease-in;
}

#dark-toggle:checked + label::after{
  left:calc(100% - (var(--size) - var(--toggleHeight) / 2));
}

@media (prefers-color-scheme: dark) {
  body:not(.force-light){
    --blue: #071e3d;
    --blue-accent: #546de5;
    --pink: #f8a5c2;
    --dark-grey: #596275;
    --black: #2C3A47;
    --white: #f6e9e9;
    --radus: 10px;
    --card-bg: var(--blue);
    background-color: var(--black);
    color: var(--white);
  }  
}

body.force-dark{
  --blue: #071e3d;
  --blue-accent: #546de5;
  --pink: #f8a5c2;
  --dark-grey: #596275;
  --black: #2C3A47;
  --white: #f6e9e9;
  --radus: 10px;
  --card-bg: var(--blue);
  background-color: var(--black);
  color: var(--white);
}